mixin carrouselElement(video, title, linkTitle, linkSelf)
  .carrouselElement
    img(src=`videos/${video}.gif`)
    h4= title
    a(href=linkSelf target="_blank")= linkTitle + ' >'

.carrousel
  img.leftArrow(src="images/leftCarrouselArrow.png")
  img.rightArrow(src="images/rightCarrouselArrow.png")
  .carrouselInner
    +carrouselElement('repair', 'Laat kapotte kleding repareren', 'ZOEK KLEDINGMAKERS', 'https://www.google.nl/maps/search/kledingmaker/@52.3654353,4.8611402,13z/data=!3m1!4b1')
    +carrouselElement('donate', 'Doneer aan kringlopen', 'ZOEK KRINGLOOPWINKELS', 'https://www.google.nl/maps/search/kringloop/@52.365425,4.8611401,13z/data=!3m1!4b1')
    +carrouselElement('qualityClothing', 'Koop duurzame kleding', 'DUURZAME ZOEKMACHINES', 'https://www.projectcece.nl/')
    +carrouselElement('lenen', 'Eenmalig een outfit nodig?', 'HUUR HET!', 'https://jurkenhuren.nl/')
    +carrouselElement('sell', 'Verkoop je oude kleding', 'NAAR VINTED', 'https://www.vinted.nl/')


