
.trashDetails
  .paddingDiv
    img.backTrash(src="images/rightCarrouselArrow.png")
    article
      h2 HET RESTAFVAL
      p De kleding die bij het restaval terecht komt, wordt verbrand in een verbrandingsoven. Bj dit proces komt CO2 vrij. En niet zo'n beetje ook.
      p We stoten hierbij <span>425 miljoen kilo CO2</span> per jaar uit.
      p Dit staat gelijk aan <span>2250 miljoen</span> kilometers in de auto.
      p Oftwel: <span>56250</span> rondjes om de aarde.
    img(src="videos/carAroundWorld.GIF")