.containerDetails
  .paddingDiv
    h2 DE KLEDINGCONTAINERS
    .piles
      .pile
        h2 1%
        p Wordt gerecycled
        img(src="images/piles/recyclePile.png")
      .pile
        h2 13%
        p Wordt gedowncycled
        img(src="images/piles/downcyclePile.png")
      .pile
        h2 71%
        p Gaat naar andere landen
        img(src="images/piles/otherCountryPile.png")
      .pile
        h2 15%
        p Wordt verbrand
        img(src="images/piles/ovenPile.png")