.details {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  border-radius: 4rem;
  z-index: 10;
  transition: 0.5s;
  cursor: pointer;
}

.details .trash,
.details .containers {
  width: 80vw;
  height: 70vh;
  background-color: #ece4d3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 4rem;
  z-index: 20;
  transition: 0.5s;
}

.details .trash {
  display: flex;
  flex-direction: row;
}

.details .trash p {
  margin: 1rem 0 1rem 0;
}
