.landing {
  height: 100vh;
  position: relative;
  overflow-y: scroll;
  z-index: 20;
}

.toTheLeft .landing,
.toTheRight .landing {
  overflow-y: visible !important;
  overflow-x: visible !important;
}

.totalHeight {
  height: 200vh;
}

.sticking {
  height: 95vh;
  top: 20px;
  position: sticky;
}

.backgroundBlob {
  position: absolute;
  height: 80vh;
  top: 10vh;
  right: 0;
  z-index: -1;
}

.scrollStateTitle,
.scrollStatePile,
.bottomStateTitle,
.stateIsScroll .landingStateTitle,
.stateIsBottom .landingStateTitle {
  opacity: 0;
}

.stateIsScroll .scrollStateTitle,
.stateIsBottom .bottomStateTitle {
  opacity: 1;
}

.landingStateTitle,
.scrollStateTitle {
  width: 90vw;
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

.landingStateTitle h1,
.landingStateTitle h2 {
  text-align: center;
  font-size: 2.5rem;
}

.landingStateTitle h1 {
  font-size: 4rem;
}

.landingStateTitle .sale {
  top: 3rem;
  left: 11rem;
}

.landingStateTitle .sale50 {
  top: 3rem;
  right: 12rem;
}

.landingState h1 {
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

.scrollStateTitle .textAndArrowTitle {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 6.5rem;
  right: 13rem;
  font-style: italic;
}
.scrollStateTitle h2 {
  font-size: 2.5rem;
}
.scrollStateTitle p {
  font-weight: lighter;
  font-style: italic;
  width: 10rem;
}

.scrollStateTitle .textAndArrowTitle img {
  height: 4rem;
  width: 5rem;
}

.scrollStateTitle .textAndArrowTitle h3 {
  width: 10rem;
  text-align: center;
}

.scrollStateTitle .sale5 {
  top: 1.8rem;
  right: 10rem;
}

.bottomStateTitle {
  position: relative;
}

.bottomStateTitle h3 {
  text-align: center;
  font-size: 1.5rem;
}

.bottomStateTitle .trashTitle {
  position: absolute;
  top: 10rem;
  left: 10rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomStateTitle .trashTitle img {
  width: 2rem;
  height: auto;
  /* margin- */
}

.bottomStateTitle .containerTitle {
  position: absolute;
  top: 14rem;
  right: 8rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trashPileFull {
  display: flex;
  width: 100vw;
  position: absolute;
  bottom: 0;
  height: 70vh;
  overflow: hidden;
}

.trashPileFull > img {
  width: 60vw;
  max-height: 100%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  transform: scale(0.9);
}

.trashPileFull > img:first-of-type {
  right: 40%;
  z-index: 1;
  transform-origin: bottom right;
}

.trashPileFull > img:last-of-type {
  left: 40%;
  transform-origin: bottom left;
}

.scrollDown {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 2rem;
  z-index: 10;
  animation: bounce 4s;
  animation-iteration-count: infinite;
}

.showFullPage .landing {
  overflow: hidden;
}

.showFullPage .trashPileFull > img:first-of-type {
  right: -10%;
  bottom: -30%;
}

.showFullPage .trashPileFull > img:last-of-type {
  left: -10%;
}

.fullPageShowing .trashPileFull > img:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    bottom: 1.5rem;
  }
  50% {
    bottom: 3rem;
  }
  100% {
    bottom: 1.5rem;
  }
}
