.landing
  .totalHeight
    .sticking
      img.backgroundBlob(src="images/backgroundBlob.svg")
      .landingStateTitle
        h1 FAST FASHION ISNT CHEAP
        h2 SOMEWHERE SOMEONE IS PAYING
        img.sale(src="images/sale/sale.png")
        img.sale50(src="images/sale/sale50.png")

      .scrollStateTitle
        h2 PER JAAR GOOIEN WE 210 MILJOEN KILO TEXTIEL BIJ HET RESTAFVAL EN IN KLEDINGCONTAINERS
        .textAndArrowTitle
          img(src="images/titleArrow.png")
          h3 Dit is gemiddeld 12 kilo per persoon!
        img.sale5(src="images/sale/sale5.png")

      .trashPileFull
        img.trashPileUp(src="images/piles/trashPileUp.png")
        img.trashPileDown(src="images/piles/trashPileDown.png")
      img.scrollDown(src="images/scrollDown.png")
