.landing
  .totalHeight
    .sticking
      img.backgroundBlob(src="images/backgroundBlob.svg")
      .landingStateTitle
        h1 FAST FASHION ISN'T CHEAP
        h2 SOMEWHERE SOMEONE IS PAYING
        img.sale(src="images/sale/sale.png")
        img.sale50(src="images/sale/sale50.png")

      .scrollStateTitle
        h2 PER JAAR GOOIEN WE 210 MILJOEN KILO TEXTIEL BIJ HET RESTAFVAL EN IN KLEDINGCONTAINERS
        .textAndArrowTitle
          img(src="images/titleArrow.png")
          p Dit is gemiddeld 12 kilo per persoon!
        img.sale5(src="images/sale/sale5.png")

      .bottomStateTitle
        .trashTitle
          h3 HERVAN BELANDT 135 MILJOEN KILO TEXTIEL BIJ HET RESTAFVAL
          img.trashArrow(src="images/trashArrow.png")
        .containerTitle
          h3 DE OVERIGE 75 MILJOEN KILO GOOIEN WE IN KLEDINGCONTAINERS
          img.containerArrow(src="images/containerArrow.png")

      .trashPileFull
        img.trashPileUp(src="images/piles/trashPileUp.png")
        img.trashPileDown(src="images/piles/trashPileDown.png")
      img.scrollDown(src="images/scrollDown.png")
