.landing
  h1 Per jaar gooien we <span class="bigTitle">210 MILJOEN KILO</span> textiel bij het restafval en in kledingcontainers
  .textAndArrowTrash
    h2 HIERVAN BELANDT 135 MILJOEN KILO TEXTIEL BIJ HET RESTAFVAL
    img(src="images/arrowTrash.png")
  .textAndArrowBin
    h2 DE OVERIGE 75 MILJOEN KILO GOOIEN WE IN KLEDINGCONTAINERS
    img(src="images/arrowBin.png")

  .trashPileFull
    .textAndArrowLanding
      p Klik op de kleding berg om te beginnen
      img(src="images/arrowLanding.png")
    img.trashPileUp(src="images/trashPileUp.png")
    img.trashPileDown(src="images/trashPileDown.png")
  img.scrollDown(src="images/scrollDown.png")
