- const colorPerTopic = lineGraphData[0]
- const lines = Object.keys(lineGraphData[1])
- lines.shift()
.lineGraph
  .lineGraphDiv
  .lineGraphLegend
    each line in lines 
      .lineGraphPAndDiv
        if line === "Verkoop-kleding"
          p Hoeveelheid gekochte kleding in miljoen stuks.
        else if line === "Gebruik-kleding"
          p Het aantal keer dragen van een kledingstuk.
        else
          p= line.replace("-"," ")
        .lineColorExample(style=`background-color: ${colorPerTopic[line]}`)


