.lineGraph {
  margin: 6rem 0 6rem 0;
}
.line {
  fill: none;
  stroke-width: 2px;
}

.lineGraph * {
  transition: 0.5s;
}

.lineGraph {
  display: flex;
  flex-direction: row;
}

.lineGraphLegend {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lineGraphPAndDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
}

.lineGraphPAndDiv > p {
  width: 12rem;
}

.lineGraphPAndDiv > div {
  height: 3px;
  width: 3rem;
  border-radius: 3px;
}
