.line {
  fill: none;
  stroke-width: 2px;
}

.lineGraph * {
  transition: 0.5s;
}

.lineGraph {
  display: flex;
  flex-direction: row;
}

.lineGraphSelectors {
  display: flex;
  flex-direction: column;
}

.icon {
  width: 24px;
  height: 24px;
  overflow: visible;
  display: block;
}
.icon path {
  stroke: black;
}
