.scroll
  .firstTitle
    h2.title MAAR WAAROM WORDT ER TEGENWOORDIG ZOVEEL KLEDING WEGGEGOOID?
    img.sale9(src="images/sale/sale9.png")
    .titleAndMoreInfo
      .moreInfo  
        h3.title Wat is fast fashion?
        .moreInfoPopUp
          img.backgroundClothing(src=`images/backgroundPopUp/pantsLeft.png`)
          article
            p Fast fashion is goedkope kleding van mindere kwaliteit, geproduceerd in sweatshops in ontwikkelingslanden die een productie kent waarbij veelvuldige gebruik wordt gemaakt van schadelijke stoffen. In deze sweatshops wordt kleding gemaakt door zwaar onderbetaalde arbeiders. Veruit het grootste deel van de conventionele kledingindustrie bestaat uit zogenaamde fast fashion. 
            p Een probleem met deze laag geprijsde kleding is dat het na een aantal keer wassen verkleurt, uit vorm raakt en slobberig wordt. Dit heeft te maken met de slechte kwaliteit van het gebruikte materiaal. Deskundigen schatten dat een percentage van meer dan vijftig procent van de verkochte kleding binnen 1 jaar word weggegooid. Dit gedrag heeft nadelige gevolgen voor het milieu het zorgt voor een enorme afvalberg.
          img.closePopUp(src="images/closePopUp.png")
      h4.title Dit heeft alles te maken met de opkomst van fast fashion. In de afgelopen jaren is de productie van fast fashion enorm gestegen in de grafiek hieronder is dit goed te zien
      .textAndArrowMoreInfo
        img(src="images/titleArrow.png")
        p Weten wat fast fashion is? Lees hier meer!


  h3.title Aantal miljoen kilo weggegooide kleding per jaar:
  include trashPile.pug

  h3.title Kleding aanschaf versus kleding verbruik 
  h4.title Deze grafiek geeft de verhouding tussen de hoeveelheid gekochte kleding en het aantal keer dragen van het kledingstuk weer. 

  include lineGraph.pug


  h2.title HERKEN FAST FASHION
  h3.title Voldoet een bedrijf aan meerdere van deze 6 punten? 
  h3.title Dan heb je te maken met fast fashion!

  include markers.pug

  .carrouselHeader
    h1.title WAT KAN JIJ DOEN
    h3.title om te zorgen dat de afvalbergen minder snel groeien en jouw kleding langer mee gaat? 
    h3.title Check de tips hieronder!
    img.sale50(src="images/sale/sale50.png")
  include carrousel.pug
