.scroll
  h2 MAAR WAAROM WORDT ER TEGEWNOORDIG ZOVEEL KLEDING WEGGEGOOID?
  h4 Dit heeft alles te maken met de opkomst van fast fashion. In de afgelopen jaren is de productie van fast fashion enorm gestegen in de grafiek hieronder is dit goed te zien

  include trashPile.pug
  include lineGraph.pug


  h2 HERKEN FAST FASHION
  h4 Voldoet een bedrijf aan merdere van deze 6 punten? Dan heb je te maken met fast fashion!

  .fastFashionMarkers
    .marker
      img(src="images/fastFashionMarkers/handsHoldingWorld.png")
      p Ze zien duurzaamheid als een trend
    .marker
      img(src="images/fastFashionMarkers/factory.png")
      p Ze zijn niet transparant over de productieketen
    .marker
      img(src="images/fastFashionMarkers/clock.png")
      p Ze hebben een zeer korte doorlooptijd
    .marker
      img(src="images/fastFashionMarkers/clothingItems.png")
      p Ze verkopen soms wel 100 verschillende stijlen
    .marker
      img(src="images/fastFashionMarkers/oftenSale.png")
      p Ze hebben constant uitverkoop
    .marker
      img(src="images/fastFashionMarkers/cheapMaterials.png")
      p Ze gebruiken goedkope materialen
