.trashPileDiv
  .trashPileDivImages
    img.image1(src="images/steps/step1.png")
    img.image2.hidden(src="images/steps/step2.png")
    img.image3.hidden(src="images/steps/step3.png")
    img.image4.hidden(src="images/steps/step4.png")
    img.image5.hidden(src="images/steps/step4.png")
  .trashPileDivSelectors
    svg(width='693' height='66' xmlns='http://www.w3.org/2000/svg')
      defs    
        clipPath(id="clip-path")
          rect(id="rect" x="16.69511" y="0" height="346" width="0")
      g.self
        rect(stroke='#000' height='11' width='641.34022' y='-0.00001' x='16.69511' fill='#fff')
        rect(stroke='#000' height='11' width='595.34018' y='-0.00001' x='16.69511' fill='#fff')
        rect(stroke='#000' height='11' width='369.34017' y='-0.00001' x='16.69511' fill='#fff')
        text.point.p0(transform='rotate(45 24.0012 37.6977)' xml:space='preserve' text-anchor='start' font-family='Noto Sans JP' font-size='24' stroke-width='0' y='45.53543' x='0' stroke='#000' fill='#000000') 2000
        text.point.p1(transform='rotate(45 398.343 37.6977)' xml:space='preserve' text-anchor='start' font-family='Noto Sans JP' font-size='24' stroke-width='0' y='45.53544' x='374.34206' stroke='#000' fill='#000000') 2015
        text.point.p2(transform='rotate(45 622.918 37.6977)' xml:space='preserve' text-anchor='start' font-family='Noto Sans JP' font-size='24' stroke-width='0' y='45.53544' x='598.91714' stroke='#000' fill='#000000') 2019
        text.point.p3(transform='rotate(45 668.69 39.3193)' xml:space='preserve' text-anchor='start' font-family='Noto Sans JP' font-size='24' stroke-width='0' y='47.15705' x='644.68882' stroke='#000' fill='#000000') 2020
      g.clip
        rect(clip-path="url(#clip-path)" fill='#E47823' height='11' width='641.34022' y='-0.00001' x='16.69511')