.differentTransition {
  transition: all 2s cubic-bezier(1, 0, 1, 0);
}

.trashPileDivImages {
  position: relative;
  height: 400px;
}

.trashPileDivImages img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 300;
}

.self .point:hover {
  cursor: pointer;
}
