doctype html
html(lang="nl")
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    style 
      include ./main.css
    title Amsterdam graffiti

  body 
    include components/trashPile.pug
    include components/lineGraph.pug

  script(src="https://d3js.org/d3.v7.min.js")
  script(type="module")
    include ./main.js