doctype html
html(lang="nl")
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet")
    style 
      include ./main.css
      include ./components/landing.css
      include ./components/detailsTrash.css
      include ./components/detailsContainers.css
      include ./components/scroll.css
      include ./components/lineGraph.css
      include ./components/trashPile.css
    title Titel

  body 
    include components/landing.pug
    include components/detailsTrash.pug
    include components/detailsContainers.pug
    include components/scroll.pug
    img(src="images/bottomBlob.png")

  script(src="https://d3js.org/d3.v7.min.js")
  script(type="module")
    include ./main.js