*,
html {
  margin: 0;
  padding: 0;
  transition: 2s;
  font-family: "Old Standard TT", serif;
}

body {
  background-color: #ece4d3;
  padding-top: 5vh;
  overflow: hidden;
}

.showFullPage {
  overflow: auto;
}

.hidden {
  opacity: 0;
}

.backgroundBlob {
  position: absolute;
  height: 90vh;
  bottom: 0;
  right: 0;
  z-index: -1;
}
