*,
html {
  margin: 0;
  padding: 0;
  transition: 2s;
  font-family: "Old Standard TT", serif;
}

body {
  background-color: #ece4d3;
  padding-top: 5vh;
  position: relative;
}

body.toTheRight {
  overflow: hidden;
  transform: translateX(-100%);
}

body.toTheLeft {
  overflow: hidden;
  transform: translateX(100%);
}

body.fullPageShowing {
  height: auto;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.sale,
.sale5,
.sale50,
.sale9 {
  position: absolute;
  max-height: 8rem;
  animation: swing 4s;
  transform-origin: top center;
  animation-iteration-count: infinite;
}

@keyframes swing {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(40deg);
  }
}
